<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Catalogue</title>
    <link
        rel="stylesheet"
        href="../static/css/main.css"
    />
</head>

<body>
  <nav>
    <img id="logo" src="../static/logo.png" />
    <div class="heading">Pod Library</div>
    <div class="navbar">
      <ul>
        <li><a href="./layout.html">Home</a></li>
        <li><a href="./catalogue.html">Podcasts</a></li>
        <li><a href="#Playlists">My Playlists</a></li>
      </ul>
    </div>
    <div id="nav-footer">
      CS235 bsan361 |  arav428 | xye804 | nkaw981
    </div>
  </nav>
  <div id="content-2">
            <header id="header">
              Podcast Catalogue
              <div class="copyright">&copy; bsan361 |  arav428 | xye804 | nkaw981 </div>
            </header>
            <main id="main">
                <div id="podcast">
                    <ul>
                      <li>
                          <a href="./podcastDescription.html">
                            <div class="podcast-list">
                              <img src="http://is3.mzstatic.com/image/thumb/Music118/v4/b9/ed/86/b9ed8603-d94b-28c5-5f95-8b7061bf22fa/source/600x600bb.jpg" alt="D-Hour Radio Network">
                              <span>D-Hour Radio Network</span>
                            </div>
                          </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="http://is5.mzstatic.com/image/thumb/Music111/v4/49/c8/19/49c8190a-ca0f-f32c-c089-d7ae502d2cb8/source/600x600bb.jpg" alt="Brian Denny Radio">
                          <span>Brian Denny Radio</span>
                        </div>
                      </a></li>
                      <li><a href="#description">
                        <div class="podcast-list">
                          <img src="http://is2.mzstatic.com/image/thumb/Music62/v4/a5/44/ce/a544ce1f-3250-7147-1e8a-6316a161900c/source/600x600bb.jpg" alt="Onde Road - Radio Popolare">
                          <span>Onde Road - Radio Popolare</span>
                        </div>
                      </a></li>
                    </ul>
                </div>
            </main>
  </div>
</body>
</html>